.light-mode {
  color-scheme: light;
  --readyapi-color-1: #584c27;
  --readyapi-color-2: #616161;
  --readyapi-color-3: #a89f84;
  --readyapi-color-accent: #b58900;
  --readyapi-background-1: #fdf6e3;
  --readyapi-background-2: #eee8d5;
  --readyapi-background-3: #ddd6c1;
  --readyapi-background-accent: #b589001f;

  --readyapi-border-color: #ded8c8;
  --readyapi-scrollbar-color: rgba(0, 0, 0, 0.18);
  --readyapi-scrollbar-color-active: rgba(0, 0, 0, 0.36);
  --readyapi-lifted-brightness: 1;
  --readyapi-backdrop-brightness: 1;

  --readyapi-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  --readyapi-shadow-2: rgba(0, 0, 0, 0.08) 0px 13px 20px 0px,
    rgba(0, 0, 0, 0.08) 0px 3px 8px 0px, #eeeeed 0px 0 0 1px;

  --readyapi-button-1: rgb(49 53 56);
  --readyapi-button-1-color: #fff;
  --readyapi-button-1-hover: rgb(28 31 33);

  --readyapi-color-red: #b91c1c;
  --readyapi-color-orange: #a16207;
  --readyapi-color-green: #047857;
  --readyapi-color-blue: #1d4ed8;
  --readyapi-color-orange: #c2410c;
  --readyapi-color-purple: #6d28d9;
}

.dark-mode {
  color-scheme: dark;
  --readyapi-color-1: #fff;
  --readyapi-color-2: #cccccc;
  --readyapi-color-3: #6d8890;
  --readyapi-color-accent: #007acc;
  --readyapi-background-1: #00212b;
  --readyapi-background-2: #012b36;
  --readyapi-background-3: #004052;
  --readyapi-background-accent: #015a6f;

  --readyapi-border-color: rgba(255, 255, 255, 0.1);
  --readyapi-scrollbar-color: rgba(255, 255, 255, 0.24);
  --readyapi-scrollbar-color-active: rgba(255, 255, 255, 0.48);
  --readyapi-lifted-brightness: 1.45;
  --readyapi-backdrop-brightness: 0.5;

  --readyapi-shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1);
  --readyapi-shadow-2: rgba(15, 15, 15, 0.2) 0px 3px 6px,
    rgba(15, 15, 15, 0.4) 0px 9px 24px, 0 0 0 1px rgba(255, 255, 255, 0.1);

  --readyapi-button-1: #f6f6f6;
  --readyapi-button-1-color: #000;
  --readyapi-button-1-hover: #e7e7e7;

  --readyapi-color-green: #00b648;
  --readyapi-color-red: #dc1b19;
  --readyapi-color-yellow: #ffc90d;
  --readyapi-color-blue: #4eb3ec;
  --readyapi-color-orange: #ff8d4d;
  --readyapi-color-purple: #b191f9;
}

/* Sidebar */
.light-mode .t-doc__sidebar {
  --readyapi-sidebar-background-1: var(--readyapi-background-1);
  --readyapi-sidebar-item-hover-color: currentColor;
  --readyapi-sidebar-item-hover-background: var(--readyapi-background-2);
  --readyapi-sidebar-item-active-background: var(--readyapi-background-accent);
  --readyapi-sidebar-border-color: var(--readyapi-border-color);
  --readyapi-sidebar-color-1: var(--readyapi-color-1);
  --readyapi-sidebar-color-2: var(--readyapi-color-2);
  --readyapi-sidebar-color-active: var(--readyapi-color-accent);
  --readyapi-sidebar-search-background: var(--readyapi-background-2);
  --readyapi-sidebar-search-border-color: var(
    --readyapi-sidebar-search-background
  );
  --readyapi-sidebar-search--color: var(--readyapi-color-3);
}

.dark-mode .sidebar {
  --readyapi-sidebar-background-1: var(--readyapi-background-1);
  --readyapi-sidebar-item-hover-color: currentColor;
  --readyapi-sidebar-item-hover-background: var(--readyapi-background-2);
  --readyapi-sidebar-item-active-background: var(--readyapi-background-accent);
  --readyapi-sidebar-border-color: var(--readyapi-border-color);
  --readyapi-sidebar-color-1: var(--readyapi-color-1);
  --readyapi-sidebar-color-2: var(--readyapi-color-2);
  --readyapi-sidebar-color-active: var(--readyapi-sidebar-color-1);
  --readyapi-sidebar-search-background: var(--readyapi-background-2);
  --readyapi-sidebar-search-border-color: var(
    --readyapi-sidebar-search-background
  );
  --readyapi-sidebar-search--color: var(--readyapi-color-3);
}
