:root {
    --readyapi-font: 'Inter';
  }
  /* basic theme */
  .light-mode {
    --readyapi-background-1: #fff;
    --readyapi-background-2: #f5f6f8;
    --readyapi-background-3: #eceef1;
  
    --readyapi-color-1: #2a2f45;
    --readyapi-color-2: #757575;
    --readyapi-color-3: #8e8e8e;
  
    --readyapi-color-accent: #5469d4;
    --readyapi-background-accent: #5469d41f;
  
    --readyapi-border-color: rgba(215, 215, 206, 0.5);
  }
  .dark-mode {
    --readyapi-background-1: #15171c;
    --readyapi-background-2: #1c1e24;
    --readyapi-background-3: #22252b;
  
    --readyapi-color-1: #fafafa;
    --readyapi-color-2: #c9ced8;
    --readyapi-color-3: #8c99ad;
  
    --readyapi-color-accent: #5469d4;
    --readyapi-background-accent: #5469d41f;
  
    --readyapi-border-color: rgba(255, 255, 255, 0.12);
  }
  /* Document header */
  .light-mode .t-doc__header,
  .dark-mode .t-doc__header {
    --header-background-1: var(--readyapi-background-1);
    --header-border-color: var(--readyapi-border-color);
    --header-color-1: var(--readyapi-color-1);
    --header-color-2: var(--readyapi-color-2);
    --header-call-to-action-color: var(--readyapi-color-accent);
  }
  /* Document Sidebar */
  .light-mode .t-doc__sidebar,
  .dark-mode .t-doc__sidebar {
    --readyapi-sidebar-background-1: var(--readyapi-background-1);
    --readyapi-sidebar-color-1: var(--readyapi-color-1);
    --readyapi-sidebar-color-2: var(--readyapi-color-2);
    --readyapi-sidebar-border-color: var(--readyapi-border-color);
  
    --readyapi-sidebar-item-hover-background: var(--readyapi-background-3);
    --readyapi-sidebar-item-hover-color: currentColor;
  
    --readyapi-sidebar-item-active-background: var(--readyapi-background-accent);
    --readyapi-sidebar-color-active: var(--readyapi-color-accent);
  
    --readyapi-sidebar-search-background: var(--readyapi-background-1);
    --readyapi-sidebar-search-color: var(--readyapi-color-3);
    --readyapi-sidebar-search-border-color: var(--readyapi-border-color);
  }
  
  /* advanced */
  .light-mode {
    --readyapi-color-green: #17803d;
    --readyapi-color-red: #e10909;
    --readyapi-color-yellow: #edbe20;
    --readyapi-color-blue: #1763a6;
    --readyapi-color-orange: #e25b09;
    --readyapi-color-purple: #5c3993;
  }
  .dark-mode {
    --readyapi-color-green: #30a159;
    --readyapi-color-red: #dc1b19;
    --readyapi-color-yellow: #eec644;
    --readyapi-color-blue: #2b7abf;
    --readyapi-color-orange: #f07528;
    --readyapi-color-purple: #7a59b1;
  }