.light-mode .readyapi-modal-layout,
.light-mode .readyapi {
  --readyapi-color-1: color-mix(
    in srgb,
    rgb(var(--primary-base-300, 180 180 180)),
    rgb(var(--dark-base, 23 23 23)) 96%
  );
  --readyapi-color-2: color-mix(
    in srgb,
    var(--readyapi-color-1),
    transparent calc(100% - 100% * 0.72)
  );
  --readyapi-color-3: color-mix(
    in srgb,
    var(--readyapi-color-1),
    transparent calc(100% - 100% * 0.4)
  );
  --readyapi-color-accent: #007d9c;

  --readyapi-background-1: rgb(var(--light-base, 255 255 255));
  --readyapi-background-2: color-mix(
    in srgb,
    rgb(var(--primary-base-800, 30 30 30)),
    var(--readyapi-background-1) 96%
  );
  --readyapi-background-3: color-mix(
    in srgb,
    rgb(var(--primary-base-800, 30 30 30)),
    var(--readyapi-background-1) 90%
  );
  --readyapi-background-accent: #007d9c1f;
  --readyapi-code-language-color-supersede: var(--readyapi-color-1);
  --readyapi-code-languages-background-supersede: var(--readyapi-background-1);
  --readyapi-border-color: color-mix(
    in srgb,
    var(--readyapi-color-1),
    transparent calc(100% - 100% * 0.08)
  );

  --readyapi-color-green: #0a6355;
  --readyapi-color-red: #dc1b19;
  --readyapi-color-yellow: #ffc90d;
  --readyapi-color-blue: rgb(var(--primary-color-500, 52 109 219));
  --readyapi-color-orange: #ff8d4d;
  --readyapi-color-purple: #8250df;

  --readyapi-scrollbar-color: rgba(255, 255, 255, 0.24);
  --readyapi-scrollbar-color-active: rgba(255, 255, 255, 0.48);
}
.dark-mode .readyapi-modal-layout,
.dark-mode .readyapi {
  --readyapi-color-1: color-mix(
    in srgb,
    rgb(var(--primary-base-700, 70 70 70)),
    rgb(var(--light-base, 255 255 255)) 100%
  );
  --readyapi-color-2: color-mix(
    in srgb,
    var(--readyapi-color-1),
    transparent calc(100% - 100% * 0.64)
  );
  --readyapi-color-3: color-mix(
    in srgb,
    var(--readyapi-color-1),
    transparent calc(100% - 100% * 0.4)
  );
  --readyapi-color-accent: #50b7e0;

  --readyapi-background-1: rgb(var(--dark-base, 22 22 22));
  --readyapi-background-2: color-mix(
    in srgb,
    rgb(var(--primary-base-200, 200 200 200)),
    var(--readyapi-background-1) 92%
  );
  --readyapi-background-3: color-mix(
    in srgb,
    rgb(var(--primary-base-200, 200 200 200)),
    var(--readyapi-background-1) 88%
  );
  --readyapi-background-accent: #8ab4f81f;
  --readyapi-code-languages-background-supersede: var(--readyapi-background-1);
  --readyapi-border-color: color-mix(
    in srgb,
    var(--readyapi-color-1),
    transparent calc(100% - 100% * 0.08)
  );

  --readyapi-color-green: #56b6c2;
  --readyapi-color-red: rgb(245 124 97);
  --readyapi-color-yellow: #edbe20;
  --readyapi-color-blue: rgb(var(--primary-color-400, 93 138 226));
  --readyapi-color-orange: #d19a66;
  --readyapi-color-purple: #5203d1;

  --readyapi-scrollbar-color: rgba(0, 0, 0, 0.18);
  --readyapi-scrollbar-color-active: rgba(0, 0, 0, 0.36);
}
.readyapi-modal-layout,
.readyapi {
  --readyapi-font: initial;
  --readyapi-font-code: var(--font-mono);

  --readyapi-paragraph: 16px;
  --readyapi-small: 14px;
  --readyapi-mini: 13px;
  --readyapi-micro: 12px;

  --readyapi-bold: 600;
  --readyapi-semibold: 500;
  --readyapi-regular: 400;

  /* Font sizes for interactive applications (not rendered text content) */
  --readyapi-font-size-1: 24px;
  --readyapi-font-size-2: 16px;
  --readyapi-font-size-3: 14px;
  --readyapi-font-size-4: 13px;
  --readyapi-font-size-5: 12px;

  --readyapi-line-height-1: 32px;
  --readyapi-line-height-2: 24px;
  --readyapi-line-height-3: 20px;
  --readyapi-line-height-4: 18px;
  --readyapi-line-height-5: 16px;
}
.readyapi input::placeholder {
  color: var(--readyapi-color-3);
}
.readyapi .readyapi-app-header {
  width: 100%;
  z-index: 1000;
  padding: 6px 12px 6px 12px;
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 14px;
  font-family: sans-serif;
  --readyapi-app-header-height: 35px;
  height: var(--readyapi-app-header-height);
  display: flex;
  align-items: center;
  gap: 6px;
}
.readyapi .readyapi-app-header a {
  text-decoration: none;
}
.readyapi .readyapi-api-client {
  max-height: calc(100% - calc(var(--readyapi-app-header-height)));
  border-radius: 8px;
}
.readyapi-api-client__close {
  appearance: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--readyapi-color-1);
  font-size: var(--readyapi-small);
  font-weight: var(--readyapi-semibold);
}
.readyapi-api-client__close:hover {
  cursor: pointer;
}
.readyapi .readyapi-app {
  background: var(--readyapi-background-3);
  height: calc(100dvh - 100px);
  max-width: 1280px;
  width: 100%;
  margin: auto;
  opacity: 0;
  animation: scalarapiclientfadein 0.35s forwards;
  z-index: 1002;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
@keyframes scalarapiclientfadein {
  from {
    transform: translate3d(0, 20px, 0) scale(0.985);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
.readyapi .readyapi-app-exit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.62);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  cursor: pointer;
  animation: scalardrawerexitfadein 0.35s forwards;
}
.readyapi .readyapi-app-exit:before {
  content: '\00d7';
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 50px;
  right: 12px;
  text-align: center;
  color: white;
  opacity: 0.6;
}
.readyapi .readyapi-app-exit:hover:before {
  opacity: 1;
}
@keyframes scalardrawerexitfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.readyapi-container {
  overflow: hidden;
  visibility: visible;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.readyapi .url-form-input {
  min-height: auto !important;
}

.readyapi .readyapi-container {
  line-height: normal;
}
.readyapi .readyapi-app-header span {
  color: var(--readyapi-color-3);
}
.readyapi .readyapi-app-header a {
  color: var(--readyapi-color-1);
}
.readyapi .readyapi-app-header a:hover {
  text-decoration: underline;
}
.readyapi-activate {
  width: fit-content;
  margin: 0px 0.75rem 0.75rem auto;
  line-height: 24px;
  font-size: 0.75rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}
.readyapi-activate-button {
  display: flex;
  gap: 6px;
  align-items: center;
  color: var(--readyapi-color-blue);
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
}
.readyapi-activate-button {
  padding: 0 0.5rem;
}
.readyapi-activate:hover .readyapi-activate-button {
  background: var(--readyapi-background-3);
  border-radius: 3px;
}
